@using HangOut.Models.Common
@using HangOut.Models;
@{
    Layout = null;
    List<OrdNotice> OrgListNotice=
}
<div class="card">
    <div class="card-header">

    </div>

    <div class="card-body">

        <div class="row">


        </div>
    </div>
</div>

