 
 <div class="card">
    <div class="card-header">
        <h1 style="text-align:center"><b>Case Recipt</b> </h1>
        <hr />
    </div>
    <div class="card-body">
        <table class="table table-bordered table-hover text-center w-100" id="TBLID">
            <thead>
                <tr>
                    <th>
                        @Html.Label("Captan")
                    </th>
                    <th>
                        @Html.Label("Balance")
                    </th>
                    <th>
                        @Html.Label("Paid")
                    </th>

                </tr>

            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td><td></td>
                </tr>
               

            </tbody>

        </table>


    </div>
</div>
