@{
    Layout = null;
}
<style>
    #InvoiceItems {
        border-collapse: collapse;
        width: 100%;
    }

        #InvoiceItems td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #InvoiceItems tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #InvoiceItems tr:hover {
            background-color: #ddd;
        }

        #InvoiceItems th {
            padding-top: 8px;
            padding-bottom: 5px;
            text-align: left;
            background-color: #4CAF50;
            color: white;
        }
</style>
<div class="row">
    <h1 style="text-align:center">Todays Orders</h1>

    <table class="table" id="InvoiceItems">
        <thead>
            <tr>
                <th>ORD NO.</th>
                <th>AMT</th>
                <th>DETAILS</th>
                <th>PAYMENT MODES</th>
            </tr>

        </thead>
        <tbody id="Tbody"></tbody>
        <tfoot>
            <tr>
                <th></th>
                <th id="TotalAmt"></th>
                <th></th>
                <th> </th>

            </tr>

        </tfoot>
    </table>



</div>

<script>
    var OrderList = [];
    var OrgId = 0;
    var PaymentStatus = 0;// unpaid list
    GetOrders(PaymentStatus);
    function GetOrders(PaymentStatus) {
        var Obj = {};
        Obj.OrgId = OrgId;
        Obj.PayStatus = PaymentStatus;
        $.ajax({
            type: 'POST',
            url: "/WebApi/ShowOrderByStatus?Obj="+JSON.stringify(Obj),
            success: function (data) {
                OrderList = JSON.parse(data);
                console.log(OrderList);
                ShowOrders(OrderList);
            },
            error: function (jqXhr, textStatus, errorMessage) { // error callback
                $("#waiting").hide();
            }
        });
    }
    function ShowOrders(list) {
        $("#Tbody").html('');
        for (var i = 0; i < list.length; i++) {
            var OID = list[i].OID;
            var html = "<tr id='" + OID + "'><td>" + OID + "</td><td>" + list[i].AMT + "</td><td></td><td></td></tr>";

            $("#Tbody").append(html);

        }

    }



</script>