@{
    Layout = null;
}
@{ 
    var cookei = Request.Cookies["UserInfo"];
    var UserCode = cookei["UserCode"];
    var OrgId= cookei["OrgId"];
}
<style>
    #table-scroll {
        height: 300px;
        overflow-x: hidden;
        overflow-y: auto;
        width: 100%;
        margin-top: 20px;
    }
</style>
@Html.Hidden("COID", OrgId)
@Html.Hidden("CUC", UserCode)
<div style="width:100%; min-width:100%">
    <h3 style="text-align:center"> Todays Orders</h3>
</div>
<div class="row" style="width:100%">
    <div class="col-xs-12 col-md-12 tab">
        <button class=" tablink2" onclick="SelectPage('UnPaidOrder', this, '#4CAF50')" id="UnPaidOrderId">Unpaid</button>
        <button class=" tablink2" onclick="SelectPage('ChefOrder', this, '#4CAF50')" id="ChefOrderId">Chef Order</button>
    </div>
</div>

<div class="row tabcontent3" id="UnPaidOrder" style="width:100%">

    <div class="row" style="width:100%">
        <div id="table-scroll">
            <table class="table" id="InvoiceItems">
                <thead>
                    <tr>
                        <th>ORD NO.</th>
                        <th>AMT</th>
                        <th>DETAILS</th>
                        <th>PAYMENT MODES</th>
                    </tr>

                </thead>
                <tbody id="Tbody"></tbody>

            </table>
        </div>
    </div>
</div>

<div class="row tabcontent3" id="ChefOrder" style="width:100%">
    <div id="table-scroll">
        <table class="table" id="InvoiceItems">
            <thead>
                <tr>
                    <th>ORD NO.</th>
                    <th>AMT</th>
                    <th>PAYMENT MODE</th>
                    <th>DETAILS</th>
                </tr>

            </thead>
            <tbody id="Tbody2"></tbody>

        </table>
    </div>
</div>


<script>
    var OrderList = [];
    var ChefOrderList = [];
    var OrgId = 0;
    var LoginId = 0;
    var PaymentStatus = 0;// unpaid list
    var CurrOID = 0;
    $("#UnPaidOrderId").click();
    $(document).ready(function () {
        OrgId = $("#COID").val();
        LoginId = $("#CUC").val();
    });
    function GetOrders(PaymentStatus) {
        var Obj = {};
        Obj.OrgId = OrgId;
        Obj.IsChef = 1;
        $.ajax({
            type: 'POST',
            url: "/WebApi/ShowOrderByStatus?Obj=" + JSON.stringify(Obj),
            success: function (data) {
                OrderList = JSON.parse(data);
                console.log(OrderList);
                if (OrderList.length == 0) {
                    $.alert({
                        title: 'Alert!',
                        content: 'No Order Yet',
                    });
                    return;
                }
                ShowOrders(OrderList);
            },
            error: function (jqXhr, textStatus, errorMessage) { // error callback
                $("#waiting").hide();
            }
        });
    }
    function ChefOrders(PaymentStatus) {
        console.log("cHEFoRDERS" + OrgId + "pAYMSTA" + PaymentStatus);
        var Obj = {};
        Obj.OrgId = OrgId;
        Obj.IsChef = 1;
        $.ajax({
            type: 'POST',
            url: "/WebApi/ShowOrderByStatus?Obj=" + JSON.stringify(Obj),
            success: function (data) {
                ChefOrderList = JSON.parse(data);
                console.log(OrderList);
                if (ChefOrderList.length == 0) {
                    $.alert({
                        title: 'Alert!',
                        content: 'No Order Yet',
                    });
                    return;
                }
                ShowChefOrders(ChefOrderList);
            },
            error: function (jqXhr, textStatus, errorMessage) { // error callback
                $("#waiting").hide();
            }
        });
    }
    function ShowOrders(list) {
        $("#Tbody").html('');
        var DetailsBtn = "<button type='button' class=' btn-sm btn-success sp-f2-hotkey' ";
        var DeatilsClose = "'>DETAILS</button>";
        var BycashClose = "'>BY CASH</button>";
        var ByOnline = "'>BY ONLINE</button>";
        for (var i = 0; i < list.length; i++) {
            var OID = list[i].OID;
            var html = "<tr id='" + OID + "'><td>" + OID + "</td><td>" + list[i].AMT + "</td><td>";
            html += DetailsBtn + "style='width:100%'" + "onclick='Details(" + OID + ")" + DeatilsClose + "</td><td>";
            html += DetailsBtn + "style='width:50%'" + "onclick='ByCash2(" + OID + ")" + BycashClose + DetailsBtn + "style='width:50%'" + "onclick='ByOnline2(" + OID + ")" + ByOnline + "</td></tr >";
            $("#Tbody").append(html);

        }

    }
    function Details(OID) {
        //HG_OrderItem
        //OID
        $("#waiting").show();
        $.ajax({
            type: 'POST',
            url: "/HG_OrderItem/index?OID=" + OID,
            success: function (data) {
                makedpt("CurrOrder");
                $("#CurrOrder > .modal-dialog > .modal-content > .modal-body").html(data);
                showdpt("CurrOrder");
                $("#waiting").hide();
            },
            error: function (jqXhr, textStatus, errorMessage) { // error callback
                $("#waiting").hide();
            }
        });

    }
    function GenInvoice2() {
        $("#waiting").show();
        $.ajax({
            type: 'POST',
            url: "/HG_Orders/PrintInvoice?OID=" + CurrOID,
            success: function (data) {
                makedpt("invoice");
                $("#invoice > .modal-dialog > .modal-content > .modal-body").html(data);
                showdpt("invoice");
                $("#waiting").hide();
                $("#" + CurrOID).remove();
                CurrOID = 0;
                //var Jobje = JSON.parse(data);
            },
            error: function (jqXhr, textStatus, errorMessage) { // error callback
                $("#waiting").hide();
            }
        });
    }
    function ByCash2(OID) {
        CurrOID = OID;
        $.confirm({
            title: 'BY CASH',
            content: 'Mark Order Completed',
            buttons: {
                btnClass: 'btn-green',
                confirm: function () {
                    CompleteOrder2(1)// bycash
                },
                cancel: function () {
                    // $.alert('Canceled!');
                }
            }
        });

    }
    function ByOnline2(OID) {
        CurrOID = OID;
        $.confirm({
            title: 'BY ONLINE',
            content: 'Mark Order Completed',
            buttons: {
                btnClass: 'btn-green',
                confirm: function () {
                    CompleteOrder2(2)// by online
                },
                cancel: function () {
                    // $.alert('Canceled!');
                }
            }
        });

    }
    function CompleteOrder2(PaymentType) {
        $.ajax({
            type: 'POST',
            url: "/WebApi/CompleteOrder?OID=" + CurrOID + "&PaymentType=" + PaymentType + "&UpdatedBy=" + LoginId,
            success: function (data) {
                var Jobj = JSON.parse(data);
                if (Jobj.Status == 400) {
                    $.alert({
                        title: 'Alert!',
                        content: Jobj.MSG,
                    });
                }
                else {
                    GenInvoice2();
                }

            },
            error: function (jqXhr, textStatus, errorMessage) { // error callback
                $("#waiting").hide();
            }
        });
    }
    function SelectPage(pageName, elmnt, color) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent3");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink2");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].style.backgroundColor = "";
        }
        document.getElementById(pageName).style.display = 'flex';
        elmnt.style.backgroundColor = color;

    }
    function ShowChefOrders(list) {
        $("#Tbody2").html('');
        var DetailsBtn = "<button type='button' class='btn-sm btn-success sp-f2-hotkey' ";
        var DeatilsClose = "'>DETAILS</button>";
        for (var i = 0; i < list.length; i++) {
            var PaymentStatus = "UnPaid";
            switch (list[i].PaymentStatus) {
                case 1:
                    PaymentStatus = "By Cash";
                    break;
                case 2:
                    PaymentStatus = "By Online";
                    break;
                case 3:
                    PaymentStatus = "By FoodDo";
                    break;
            }
            var OID = list[i].OID;
            var html = "<tr id='" + OID + "'><td>" + OID + "</td><td>" + list[i].AMT + "</td><td>" + PaymentStatus+"</td>";
            html +="<td>" +DetailsBtn + "style='width:100%'" + "onclick='Details(" + OID + ")" + DeatilsClose + "</td><tr>";
            $("#Tbody2").append(html);
        }
    }
    $("#ChefOrderId").click(function () {
        ChefOrders(-1);// chef orders
    });
    
</script>
