@model IEnumerable<HangOut.Models.LocalContacts>
    @{
        Layout = null;
        
        }
<div class="card">
    <div class="card-header">
        <h5 class="text-danger text-center"><b>Contact List</b></h5>
        <hr />
    </div>
    <div class="card-body">
        <table class="table table-bordered table-hover w-100 "style="width:100%" >
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MobileNo)
                </th>
                <th> 
                    Customer Name
                </th>
                 
            </tr>

            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MobileNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cust_Name)
                </td>
            </tr>
            }

        </table>
    </div>
</div>
