@{ 
    Layout = null;
}
<link href="~/Assets/MakeOrder.css" rel="stylesheet" />
<div class="row" id="SearchTableDiv">
    <div class="col-md-6">
        @Html.Label("Search Table Number")
        @{
            List<SelectListItem> slist = new List<SelectListItem>();
            SelectListItem sl = new SelectListItem();
            sl.Text = "Select";
            sl.Value = "0";
            slist.Add(sl);
        }
        @Html.DropDownList("TorSid", slist, new { @class = "form-control" })
    </div>
    <div class="col-md-6">
        @Html.Label("Customize Order")
        @{
            List<SelectListItem> CustomOrder = new List<SelectListItem>();
            SelectListItem selobj = new SelectListItem();
            selobj.Text = "NO";
            selobj.Value = "0";
            CustomOrder.Add(selobj);
            SelectListItem selobj2 = new SelectListItem();
            selobj2.Text = "YES";
            selobj2.Value = "1";
            CustomOrder.Add(selobj2);
        }
        @Html.DropDownList("COrder", CustomOrder, new { @class = "form-control" })
    </div>

</div>

<section id="team" class="">
    <div class="container">
        <div class="row" id="UpdateResult">
            <!-- Team member -->
           
        </div>
    </div>
</section>


<script>
   
        var FirstDiv = "<div class='col-xs-12 col-sm-6 col-md-4'> ";
        FirstDiv += "<div class='mainflip'>";
        FirstDiv += "<div class='frontside'>";
        var EndDiv = "</div></div></div>";
       // GetItemList();
        function GetItemList(Obj) {
            $("#waiting").show();
           
            $.ajax({
                type: 'POST',
                url: "/WebApi/GetItemList?Obj="+JSON.stringify(Obj),
                success: function (data) {
                    $("#UpdateResult").html("");
                    var CategoryItemArray = JSON.parse(data);
                    console.log(JSON.stringify(CategoryItemArray));
                    for (i = 0; i < CategoryItemArray.length; i++) {
                        var MenuItemsArray = CategoryItemArray[i].MenuItems;
                        for (j = 0; j < MenuItemsArray.length; j++) {
                            var ItemName = MenuItemsArray[j].ItemName;
                            var IID = MenuItemsArray[j].IID;
                            var ItemPrice = MenuItemsArray[j].ItemPrice;
                            var Qty = MenuItemsArray[j].ItemQuntity;
                            var Image = MenuItemsArray[j].ItemImage;
                            var ItemCnt = MenuItemsArray[j].ItemCartValue;
                            var Middlediv ="<div class='card'>";
                            Middlediv += "<div class='card-body text-center'>";
                            Middlediv += "<p class='text-center'><img class='img-fluid card-bodyimg '  src='"+Image+"' alt='card image'></p>";
                            Middlediv += "<h4 class='card-title card-title text-center'>" + ItemName + "</h4>";
                            Middlediv += "<p class='text-center'> <span class='label info'> Price : " + ItemPrice + " Qty : " + Qty +"</span></p>"
                         //   Middlediv += "<p class='card-text text-center'>This is basic card with image on top, title, description and button.</p>";
                            Middlediv += "<button onclick='minus(this)' Minus=" + IID+" class='btn btn-danger btn-sm'><i class='fa fa-minus'></i></button>";
                            Middlediv += "<button class='btn btn-info btn-sm'><span class='badge badge-primary badge-pill'><div id=" + IID + ">" + ItemCnt+"</div></span></button>";
                            Middlediv += "<button onclick='plus(this)' Plus="+ IID +" class='btn btn-primary btn-sm'><i class='fa fa-plus'></i></button></div> </div>";
                            $("#UpdateResult").append(FirstDiv + Middlediv + EndDiv);
                          
                            $("#waiting").hide();
                        }
                    }

                },
                error: function (jqXhr, textStatus, errorMessage) { // error callback 
                    $("#waiting").hide();
                    
                }
            });

        }
        function TableSearch() {
            $("#TorSid").select2({
                ajax: {
                    url: "/HG_Tables_or_Sheat/LiveSearch?OrgType=1",
                    dataType: 'json',
                    delay: 200,
                    data: function (params) {
                        return {
                            pageSize: 20,
                            pageNum: params.page || 1,
                            searchTerm: params.term
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;
                        return {
                            results: data.Results,
                            pagination: {
                                more: (params.page * 20) < data.Total
                            }
                        };
                    },
                    cache: true
                },
                //escapeMarkup: function (markup) { return markup; },
                minimumInputLength: 0,
                allowClear: true,
                placeholder: "Search Table Name",
                tags: false,
                tokenSeparators: [','],
                dropdownAutoWidth: true
                //templateResult: formatRepo,
                //templateSelection: formatRepoSelection
            }).on("select2:focus", function (e) {
                $(this).select2('open');
            });
            $("#TorSid").select2('open');
        }
        $("#TorSid").click(function () {
            TableSearch();
    });
    $("#TorSid").change(function () {
        var TorSid = $("#TorSid").val();

        if (TorSid != null) {
            var Obj = {};
            Obj.TID = TorSid;
            ScanRestTable(Obj);
        }
       
    });
    function plus(event) {
        var add = $(event).attr("Plus");
        var CartValue = parseInt($("#" + add).text());
        AddToCart(add, CartValue+1);
        //$("#" + add).text(CartValue+1);
    }
    function minus(event) {
        var minu = $(event).attr("Minus");
        var CartValue = parseInt($("#" + minu).text());
        if (CartValue > 0) {
            AddToCart(minu, CartValue-1);
        }
        
    }
    function AddToCart(itemid,Cnt) {
        var Obj = {};
        Obj.CID = 0;
        Obj.OID = 0;
        Obj.ItemId = itemid;
        Obj.Cnt = Cnt;
        $.ajax({
            type: 'POST',
            url: "/WebApi/AddCart?Obj=" + JSON.stringify(Obj),
            success: function (data) {
                //var Count = data.split(",")[0];
                $("#" + itemid).text(Cnt);
            },
            error: function (jqXhr, textStatus, errorMessage) { // error callback 
                $("#waiting").hide();
            }
        });


    }
    $("#COrder").change(function () {

        if ($("#COrder").val()=='1') {
            GetItemList();
        }
        else {
        
            ResetDiv();
        }
    });
    function ResetDiv() {
        $("#UpdateResult").html('');
    }
    function ScanRestTable(Obj) {
        $.ajax({
            type: 'GET',
            url: "/WebApi/ScanRestTable?Obj=" + JSON.stringify(Obj),
            success: function (data) {
                var JsonObj = JSON.parse(data);
                var OrgId = JsonObj.OrgId;
                var Obj = {};
                Obj.CID = 0;
                Obj.OID = OrgId;
                GetItemList(Obj);
            },
            error: function (jqXhr, textStatus, errorMessage) { // error callback 
                $("#waiting").hide();
            }
        });
    }

</script>