@{
                /**/

                Layout = null;
}
<div class="card">
    <div class="card-header text-center"><b>Filter</b></div>
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    @Html.Label("From Date")
                    @Html.TextBox("Fdate", DateTime.Now.ToString("dd-MM-yyyy"), new { @class = "form-control DateField" })
                </div>
                <div class="col-md-3">
                    @Html.Label("To Date")
                    @Html.TextBox("Tdate", DateTime.Now.Date.ToString("dd-MM-yyyy"), new { @class = "form-control DateField" })
                </div>
                <div class="col-sm-2">
                    <button id="Search" class="btn btn-secondary" style="margin-top:15%"><i class="fa fa-search"></i> Search</button>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="col" id="List">
    <table class="table table-hover" id="TBLID">
        <thead>
            <tr>
                <td>JoiningId</td>
                <td>Join Date</td>
                <td>Customer Name</td>
                <td>Mobile No</td>
                <td>Type</td>
                <td>Product</td>
            </tr>
        </thead>
        <tbody></tbody>

    </table>

</div>
<script>
            $(document).ready(function () {
                function Search() {
                    $("#waiting").show();
                    var Fdate = $("#Fdate").val();
                    var Tdate = $("#Tdate").val();
                    $.ajax({
                        url: "/Reports/JoinFoodDo?Fdate=" + Fdate + "&Tdate=" + Tdate,
                        type: "GET",
                        success: function (data) {
                            $("#waiting").hide();
                            $("#List").html(data);

                        },
                        error: function (jqXhr, textStatus, errorMessage) { // error callback
                            $("#waiting").hide();
                        }

                    });
                }
                $("#Search").click(function () {
                    Search();
                });

            });
            function Details(OID) {
                //HG_OrderItem
                //OID
                $("#waiting").show();
                $.ajax({
                    type: 'POST',
                    url: "/HG_OrderItem/index?OID=" + OID,
                    success: function (data) {
                        makedpt("CurrOrder");
                        $("#CurrOrder > .modal-dialog > .modal-content > .modal-body").html(data);
                        showdpt("CurrOrder");
                        $("#waiting").hide();
                    },
                    error: function (jqXhr, textStatus, errorMessage) { // error callback
                        $("#waiting").hide();
                    }
                });

    }
            function PrintInvoice(OID) {

          $("#waiting").show();
          $.ajax({
            type: 'POST',
            url: "/HG_Orders/PrintInvoice?&OID=" + OID,
            success: function (data) {
                makedpt("invoice");
                $("#invoice > .modal-dialog > .modal-content > .modal-body").html(data);
                showdpt("invoice");
                $("#waiting").hide();
                //var Jobje = JSON.parse(data);
            },
            error: function (jqXhr, textStatus, errorMessage) { // error callback
                $("#waiting").hide();
            }
        });

    }

</script>


