<div>
    <div class="card-header text-center text-white" style="background-color:black">Today Order </div>
    <div class="row" style="min-height:120px">
        <div class="col-md-6">
            @Html.Label("Search Table Number")
            @{
                List<SelectListItem> slist = new List<SelectListItem>();
                SelectListItem sl = new SelectListItem();
                sl.Text = "Select";
                sl.Value = "0";
                slist.Add(sl);
            }
            @Html.DropDownList("TorSid", slist, new { @class = "form-control" ,  })
        </div>

        <div class="col-md-6">
            @Html.Label("Search Order Number")
            @{
                List<SelectListItem> slist2 = new List<SelectListItem>();
                SelectListItem sl2 = new SelectListItem();
                sl2.Text = "Select";
                sl2.Value = "0";
                slist2.Add(sl2);
            }
            @Html.DropDownList("OID", slist2, new { @class = "form-control" })
        </div>

    </div>




    <div class="card-header text-center text-white" style="background-color:black">Today Order Status </div>

    <div class="row">

        <div class="col-md-4">
            <div class="card text-white bg-danger " style=" width: 100%; height:100% ;box-shadow:2px 4px 4px black ;">
                <div class="card-header text-center">Unpaid Orders</div>
                <div class="card-body">
                    <ul class="list-group">

                        <li class="list-group-item d-flex text-dark justify-content-between align-items-center">
                            New
                            <a href="#" onclick="Order('1')" id="TodayOrder"><span class="badge badge-primary badge-pill">0</span></a>
                        </li>
                        <li class="list-group-item d-flex text-dark justify-content-between align-items-center">
                            Canceled
                            <a href="#" id="TodayOrder"><span class="badge badge-primary badge-pill">0</span></a>
                        </li>
                        <li class="list-group-item d-flex text-dark justify-content-between align-items-center">
                            Total
                            <a href="#" id="TodayOrder"><span class="badge badge-primary badge-pill">0</span></a>
                        </li>
                    </ul>


                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-secondary " style=" width: 100%; height:100% ;box-shadow:2px 4px 4px black ;">
                <div class="card-header text-center">Paid Orders</div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item d-flex text-dark justify-content-between align-items-center">
                            By Cash
                            <a href="#" id="TodayOrder"><span class="badge badge-primary badge-pill">0</span></a>
                        </li>
                        <li class="list-group-item d-flex text-dark justify-content-between align-items-center">
                            By Card
                            <a href="#" id="TodayOrder"><span class="badge badge-primary badge-pill">0</span></a>
                        </li>
                        <li class="list-group-item d-flex text-dark justify-content-between align-items-center">
                            By E-wallet
                            <a href="#" id="TodayOrder"><span class="badge badge-primary badge-pill">0</span></a>
                        </li>

                    </ul>


                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-info " style=" width: 100%; height:100% ;box-shadow:2px 4px 4px black ;">
                <div class="card-header text-center">Total Orders</div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item d-flex text-dark justify-content-between align-items-center">
                            Ongoing
                            <a href="#" id="TodayOrder"><span class="badge badge-primary badge-pill">0</span></a>
                        </li>
                        <li class="list-group-item d-flex text-dark justify-content-between align-items-center">
                            Incoming
                            <a href="#" id="TodayOrder"><span class="badge badge-primary badge-pill">0</span></a>
                        </li>
                        <li class="list-group-item d-flex text-dark justify-content-between align-items-center">
                            Total
                            <a href="#" id="TodayOrder"><span class="badge badge-primary badge-pill">0</span></a>
                        </li>


                    </ul>


                </div>
            </div>
        </div>
    </div>







</div>

<script>
    function Order(status) {
        $("#waiting").show();
        $.ajax({
            type: 'GET',
            url: "/HG_Orders/Index?Status=" + status,
            success: function (data) {
                makedpt("OrderItem");
                $("#OrderItem > .modal-dialog > .modal-content > .modal-body").html(data);
                showdpt("OrderItem");
                $("#waiting").hide();
            },
            error: function (jqXhr, textStatus, errorMessage) { // error callback
                $("#waiting").hide();
            }
        });

    }
    function TableSearch() {
        $("#TorSid").select2({
            ajax: {
                url: "/HG_Tables_or_Sheat/LiveSearch?OrgType=1",
                dataType: 'json',
                delay: 200,
                data: function (params) {
                    return {
                        pageSize: 20,
                        pageNum: params.page || 1,
                        searchTerm: params.term
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    return {
                        results: data.Results,
                        pagination: {
                            more: (params.page * 20) < data.Total
                        }
                    };
                },
                cache: true
            },
            //escapeMarkup: function (markup) { return markup; },
            minimumInputLength: 0,
            allowClear: true,
            placeholder: "Search Table Name",
            tags: false,
            tokenSeparators: [','],
            dropdownAutoWidth: true
            //templateResult: formatRepo,
            //templateSelection: formatRepoSelection
        }).on("select2:focus", function (e) {
            $(this).select2('open');
        });
        $("#TorSid").select2('open');
    }
    $("#TorSid").click(function () {
        TableSearch();
    });
    $("#TorSid").change(function () {
        TableOrder($("#TorSid").val());
    });

    function OrderSearch() {
        $("#OID").select2({
            ajax: {
                url: "/HG_Orders/LiveSearch?OrgId=1",
                dataType: 'json',
                delay: 200,
                data: function (params) {
                    return {
                        pageSize: 20,
                        pageNum: params.page || 1,
                        searchTerm: params.term
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    return {
                        results: data.Results,
                        pagination: {
                            more: (params.page * 20) < data.Total
                        }
                    };
                },
                cache: true
            },
            //escapeMarkup: function (markup) { return markup; },
            minimumInputLength: 0,
            allowClear: true,
            placeholder: "Search Order Number",
            tags: false,
            tokenSeparators: [','],
            dropdownAutoWidth: true
            //templateResult: formatRepo,
            //templateSelection: formatRepoSelection
        }).on("select2:focus", function (e) {
            $(this).select2('open');
        });
        $("#OID").select2('open');
    }
    $("#OID").click(function () {
        OrderSearch();
    });
    $("#OID").change(function () {
        OrderItemList($("#OID").val());
    });

</script>
<script>
    function OrderItemList(OID) {
        $("#waiting").show();
        $.ajax({
            type: 'GET',
            url: "/HG_OrderItem/Index?OID=" + OID,
            success: function (data) {
                makedpt("OrderItem");
                $("#OrderItem > .modal-dialog > .modal-content > .modal-body").html(data);
                showdpt("OrderItem");
                $("#waiting").hide();
            },
            error: function (jqXhr, textStatus, errorMessage) { // error callback
                $("#waiting").hide();
            }
        });

    }
    function TableOrder(TRSID) {
        $("#waiting").show();
        $.ajax({
            type: 'GET',
            url: "/HG_Orders/Index?TRSID=" + TRSID,
            success: function (data) {
                makedpt("OrderItem");
                $("#OrderItem > .modal-dialog > .modal-content > .modal-body").html(data);
                showdpt("OrderItem");
                $("#waiting").hide();
            },
            error: function (jqXhr, textStatus, errorMessage) { // error callback
                $("#waiting").hide();
            }
        });
    }
</script>