@model IEnumerable<HangOut.Models.Common.Settings>
@{ Layout = null;}
<div class=" card">
    <div class=" card-header">
        <h1 class="text-center"><b>Settings</b></h1>
    </div>
    <a href="/Settings/Create?SettingId=0" class="btn btn-success btn-sm" data-ajax="true" data-ajax-update="#DynamicData" data-ajax-mode="replace" data-ajax-loading="#waiting"> <i class="fa fa-plus"></i></a>

    <div class="card-body">
        <table class="table table-bordered table-hover" id="TBLID">
            <thead>
                <tr>
                    
                    <th>
                        @Html.DisplayNameFor(model => model.KeyName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.KeyValue)
                    </th>
                    
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        
                        <td>
                            @Html.DisplayFor(modelItem => item.KeyName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.KeyValue)
                        </td>
                        
                        <td class="text-center">
                            <a href="/Settings/Create?SettingId=@item.SettingId" class="btn btn-warning btn-sm" data-ajax="true" data-ajax-update="#DynamicData" data-ajax-mode="replace" data-ajax-loading="#waiting"> <i class="fa fa-edit"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>