@model IEnumerable<HangOut.Models.Inventory.INTUnits>


<div class="card">
    <div class="card-header">
        <h5 class="text-center"><b>Units</b></h5>
    </div>
    <a href="/Units/CreateEdit?ID=0" data-ajax="true" data-ajax-update="#DynamicData" data-ajax-mode="replace" data-ajax-loading="#waiting" class="btn btn-success"><i class="fa fa-plus"></i>ADD</a>
    <div class="card-body">
        <table class="table table-hover w-100" id="TBLID" >
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.UnitID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th></th>
                </tr>
                </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UnitID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <a href="/Units/CreateEdit?ID=@item.UnitID" class="btn btn-warning"><i class="fa fa-edit"></i>Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
</table>
    </div>
</div>