
@{
    Layout = null;
}
<div class="row">
    <div class="card" style="width:100%">
        <div class="card-header" >
            <marquee>  <h3 style="color:brown">Feature Under Testing Will roll out soon</h3></marquee>
        </div>

    </div>

</div>

