
@{
    Layout = null;
}
<style>
    .SelectedMenu {
        background-color: #a9bf1a;
    }

    .SelectedTable {
        background-color: #a9bf1a;
    }

    div.scrollmenu {
        background-color: #333;
        overflow-x: auto;
        white-space: nowrap;
    }

        div.scrollmenu block {
            display: inline-block;
            color: white;
            text-align: center;
            padding: 20px;
            border-left: solid 1px #5de79a;
            text-decoration: none;
        }

    div.scrollTables {
        background-color: white;
        overflow: auto;
        white-space: nowrap;
    }

        div.scrollTables blockTable {
            display: inline-block;
            text-align: center;
            width: 35%;
            height: 250px;
            overflow-y: auto;
            border-right: solid 2px #f00;
            text-decoration: none;
        }

    div.scrollmenu a:hover {
        background-color: #777;
    }

    block.selected {
        color: green;
    }
.formdiv{
    background-color:aqua;
    border:1px solid black;
    height:100px;
}
    .CustomUl {
       text-align:center;
       list-style-type:none;
    }
</style>
<div class="card row">
    <div class="card-header">
        <h3 class="text-center">Feedback Form</h3>
    </div>
    <div class="card-body">
        @*<div class="row" id="AddForm">
                <div class="col-md-4 formdiv text-center">
                 <i style="margin-top:40px;font-size:x-large" onclick="AddNewForm(0)" class="fas fa-plus-circle"></i>
                </div>

            </div>*@
        <div class="scrollmenu" id="Menus">
            <block id="AddNew" class="ShowMenu" ondblclick="AddOrderMenu(0)">Add New</block>
        </div>
    </div>
    <div class=" scrollTables" id="Floor">

        <blockTable>
            <div class="row">
                <div class="col-md-6">
                    <h4 style="text-align:right">Floor1</h4>
                </div>
                <div class="col-md-2">
                    <input type="checkbox" class=" form-control" style="border: 2px dotted #00f; display: block; background: #ff0000" />
                </div>
            </div>
            <div class="row" id="AddSeat">

            </div>
        </blockTable>



    </div>
    <div class="row">
        <div class="col-md-5">

        </div>
        <div class="col-md-2">
            <button class="btn btn-danger form-control " onclick="Apply()">Apply</button>
        </div>
        <div class="col-md-5">

        </div>
    </div>
</div>

<script>
    LoadFeedback();
    function AddNewForm(id) {
        $('#waiting').show();
        $.ajax({
            type: 'GET',
            url: "/FeedBack/AddFeedBack?Id="+id,
            success: function (data) {
                makedpt("FeedBack");
                $("#FeedBack > .modal-dialog > .modal-content > .modal-body").html(data);
                showdpt("FeedBack");
                $('#waiting').hide();
                // }
            },
            error: function (jqXhr, textStatus, errorMessage) { // error callback
                $("#waiting").hide();
            }
        });
    }
    function LoadFeedback() {
            $('#waiting').show();
            $.ajax({
                type: 'GET',
                url: "/FeedBack/ListFeedBack",
                success: function (data) {
                    var ListFeedBack = JSON.parse(data);
                    for (var i = 0; i < ListFeedBack.length; i++) {
                        var Obj = ListFeedBack[i];
                        var fullDate = new Date(Obj.CreateDate);
                        var twoDigitMonth = fullDate.getMonth() +1+ "";
                        if (twoDigitMonth.length == 1)
                            twoDigitMonth = "0" + twoDigitMonth;
                        var twoDigitDate = fullDate.getDate() + "";
                        if (twoDigitDate.length == 1)
                            twoDigitDate = "0" + twoDigitDate;
                        var currentDate = twoDigitDate + "/" + twoDigitMonth + "/" + fullDate.getFullYear();
                        var str = ' <div class="col-md-4 formdiv">';
                        str += '<ul class="CustomUl">';
                        str += '<li>' + Obj.Name + '</li>';
                        str += '<li>Created : ' + currentDate  + '</li>'
                        str += '<li>Filled 0 times</li>';
                        str += '<li>Placed 0 times</li> </ul></div>';
                        $("#AddForm").append(str);
                    }
                    $('#waiting').hide();
                    // }
                },
                error: function (jqXhr, textStatus, errorMessage) { // error callback
                    $("#waiting").hide();
                }
            });
    }
</script>





