@model IEnumerable<HangOut.Models.POS.OrderAdonItm>
@{
    Layout = null;
}
<div class="col" id="List">
    <div class="card">
        <div class="card-header">Addon Items </div>
        <div class="card-body">
            <table class="table table-hover table-bordered text-center" id="TBLID">
                <thead>
                    <tr>
                        <th> Item </th>
                        <th> Price </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr id="@item.ItemName">
                        <td>@item.ItemName</td>
                        <td>@item.Price.ToString("0.00")</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>

