@model IEnumerable<HangOut.Models.HG_Tables_or_Sheat>
@using HangOut.Models.Common;
@{
    Layout = null;
}
@using HangOut.Models
<div class="card">
    <div class="card-header">
        <h1 style="text-align:center"><b>TAKE-AWAY</b> </h1>
        <hr />
    </div>
    <a href="/HG_Tables_or_Sheat/CreateTakeAway?Id=0" data-ajax="true" data-ajax-update="#DynamicData" data-ajax-mode="replace" data-ajax-loading="#waiting" class="btn btn-success"><i class="fa fa-plus">ADD</i></a>
    <div class="card-body">
        <table class=" table table-bordered table-hover w-100" id="TBLID">
            <thead>
                <tr>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Table_or_SheetName)
                        </td>
                        <td>
                            <a href=" /HG_Tables_or_Sheat/CreateTakeAway?Id=@item.Table_or_RowID" class="btn btn-warning btn-sm " data-ajax="true" data-ajax-update="#DynamicData" data-ajax-mode="replace" data-ajax-loading="#waiting"> Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
