@model HangOut.Models.Common.Video
<div class="row text-center">
        <button class="btn btn-success w-100"><h1 class="text-center"><i class="fa fa-video-camera"></i>Video Category</h1></button>
</div>
<br />
 <div class=" row">
     <ul class="nav p-1" style="font-size:40px" id="MyCategory">
         <li>
             <button class="btn btn-warning" style="font-size:25px">
                 <i class="fa fa-plus "></i>
                 <span>Category1</span>
             </button>
         </li>&nbsp;
         <li>
             <button class="btn btn-primary" style="font-size:25px">
                 <i class="fa fa-plus "></i>
                 <span>Category2</span>
             </button>
         </li>&nbsp;
         <li>
             <button class="btn btn-dark" style="font-size:25px">
                 <i class="fa fa-plus "></i>
                 <span>Category3</span>
             </button>
         </li>
         &nbsp;
         <li>
             <button class="btn btn-danger" style="font-size:25px">
                 <i class="fa fa-plus "></i>
                 <span>Category4</span>
             </button>
         </li>
     </ul>
     
 </div>
<script>
    var listvideocategory = [];
    var strhtml = '<li><button class="btn btn-warning" style="font-size:25px">';
    strhtml += '<i class="fa fa-plus "></i>';
    
    function LoadCategory() {
        $("#MyCategory").html();
        $.ajax({
            type: 'GET',
            url: "/Video/Categorylist",
            success: function (data) {
                 listvideocategory = JSON.parse(data);
                DispalyCategory(listvideocategory);
                // }
            },
            error: function (jqXhr, textStatus, errorMessage) { // error callback
                $("#waiting").hide();
            }
        });
    }

    function DispalyCategory(List) {
        for (var i = 0; i < List.length; i++) {
            var ObjcatVideo = List[i];
            var Secondhtml = '<span>' + ObjcatVideo.Name+'</span>';
            Secondhtml += '</button>';
            Secondhtml += '</li>&nbsp';
            $("#MyCategory").append(strhtml);
        }
    }
</script>