@{ 
    Layout = null;
}

<div class="card">
    <div class="card-header">
        <h5 class="text-center"><b>Video Category</b></h5> 
    </div>
</div>
<br />
 <div class=" row">
     <ul class="nav p-1" style="font-size:60px" id="MyCategory" >
         <li>
             <button class="btn btn-danger button" style="font-size:25px" onclick="LoadCategoryPopup()">
                 <i class="fa fa-plus "></i>
                 <span>ADD</span>
             </button>
         </li>&nbsp;
         
     </ul>
     
 </div>
 <style>
     .button {
         padding: 15px 25px;
         font-size: 24px;
         text-align: center;
         cursor: pointer;
         outline: none;
         color: #fff;
         background-color: #4CAF50;
         border: none;
         border-radius: 15px;
         box-shadow: 0 9px #999;
     }

         .button:hover {
             background-color: #3e8e41
         }

         .button:active {
             background-color: #3e8e41;
             box-shadow: 0 5px #666;
             transform: translateY(4px);
         }
 </style>
<script>
    var listvideocategory = [];
    var strhtml = '<li><button class="btn btn-success button" style="font-size:25px; box-shadow: 0 9px #999">';
   
    LoadCategory();
    function LoadCategory() {
      //  $("#MyCategory").html('');
        $.ajax({
            type: 'GET',
            url: "/Video/Categorylist",
            success: function (data) {
                 listvideocategory = JSON.parse(data);
                DispalyCategory(listvideocategory);
                // }
            },
            error: function (jqXhr, textStatus, errorMessage) { // error callback
                $("#waiting").hide();
            }
        });
    }

    function DispalyCategory(List) {
        for (var i = 0; i < List.length; i++) {
            var ObjcatVideo = List[i];
            var Secondhtml = '<span>' + ObjcatVideo.Name+'</span>';
            Secondhtml += '</button>';
            Secondhtml += '</li>&nbsp';
            $("#MyCategory").append(strhtml + Secondhtml);
        }
    }
    function LoadCategoryPopup() {
       
        $.ajax({
            type: 'GET',
            url: "/Video/Popupwindow",
            success: function (data) {
                makedpt("HG_Category");
                $("#HG_Category > .modal-dialog > .modal-content > .modal-body").html(data);
                showdpt("HG_Category");
                $('#waiting').hide();
                // }
            },
            error: function (jqXhr, textStatus, errorMessage) { // error callback
                $("#waiting").hide();
            }
        });
    }
</script>