 
@{
    Layout = null;
}
<div class="card">
    <div class="card-header">
        <h5 class="text-center"><b>Video Category</b></h5>
    </div>
</div>
<br />
<div class=" row aa">
    <ul class="nav p-1"  id="MyCategory" OrderNo="1">
        <li class="NotOrd">
            <button class="btn btn-danger button form-control" style="font-size:35px;padding-top: 6px;" onclick="LoadCategoryPopup('0')">
                <i class="fa fa-plus"></i>
                <span>ADD</span>
            </button>
        </li> 

    </ul>

</div>
 
@*<iframe width="560" height="315" src="https://www.youtube.com/embed/jOAqp6ItPXg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>*@
 
          
    <style>
        .button {
            padding: 15px 25px;
            font-size: 24px;
            text-align: center;
            cursor: pointer;
            outline: none;
            color: #fff;
            background-color: #4CAF50;
            border: none;
            border-radius: 15px;
            box-shadow: 0 4px #999;
        }

            .button:hover {
                background-color: #3e8e41
            }

            .button:active {
                background-color: #3e8e41;
                box-shadow: 0 5px #666;
                transform: translateY(4px);
            }
    </style>
    <script>
        function divup(event) {
            // var li = $(this).closest('li');
            console.log("sad");
            var li = $(event).parent('div').parent('div').parent('li');
            var prev = li.prev();
            if (prev.length && prev.hasClass('NotOrd')==false) {

                var OrderNoCur = parseInt(li.attr('OrderNo'));
                var OrderNoPre = parseInt(prev.attr('OrderNo'));
                console.log(OrderNoCur);
                li.attr('OrderNo', OrderNoCur - 1);
                prev.attr('OrderNo',OrderNoPre + 1);
                li.detach().insertBefore(prev);
                updateorderno(li.attr('CatId'), OrderNoCur - 1);
                updateorderno(prev.attr('CatId'), OrderNoPre + 1);
             
            }
        }
        function updateorderno(Id,OrderNo) {
            $.ajax({
                type: 'POST',
                url: "/Video/SaveOrderNo?Id=" + Id + "&OrderNo=" + OrderNo,
                contentType: "application/json",
                success: function (data) {


                },

                error: function (jqXhr, textStatus, errorMessage) { // error callback
                    $('#waiting').hide();
                }
            });
        }
        function divdown(event) {
            var li = $(event).parent('div').parent('div').parent('li');
            // var li = $(this).closest('li');
            var next = li.next();
            if (next.length && next.hasClass('NotOrd') == false) {
                var OrderNoCurr = parseInt(li.attr('OrderNo'));
                var OrderNoNxt = parseInt(next.attr('OrderNo'));
                console.log(OrderNoCurr);
                li.attr('OrderNo', OrderNoCurr + 1);
                next.attr('OrderNo', OrderNoNxt - 1);
                li.detach().insertAfter(next);
                updateorderno(li.attr('CatId'), OrderNoCurr+ 1);
                updateorderno(next.attr('CatId'), OrderNoNxt - 1);
            }
        }
        var listvideocategory = [];
        LoadCategory();
        function LoadCategory() {
            //  $("#MyCategory").html('');
            $.ajax({
                type: 'GET',
                url: "/Video/Categorylist",
                success: function (data) {
                    listvideocategory = JSON.parse(data);
                    DispalyCategory(listvideocategory);
                    // }
                },
                error: function (jqXhr, textStatus, errorMessage) { // error callback
                    $("#waiting").hide();
                }
            });
        }
          
        function DispalyCategory(List) {
            for (var i = 0; i < List.length; i++) {
                var ObjcatVideo = List[i];
                var strhtml = '<li OrderNo="' + ObjcatVideo.OrderNo + '" CatId="' + ObjcatVideo.Id+'"><button class="btn btn-success button" style="font-size:25px; box-shadow: 0 4px #999; margin-left: 5px;"';
                var Secondhtml = "onclick='LoadCategoryPopup(\"" + ObjcatVideo.Id + "\")'><span>" + ObjcatVideo.Name + "</span>";
                Secondhtml += '</button>';
                Secondhtml += '<div class="row">';
                Secondhtml += '<div class="col-md-6 text-center">';
                Secondhtml += "<a onclick='divup(this)'><i style=' font-size:30px;color:#138692' class='fas fa-long-arrow-alt-left'></i></a>";
                Secondhtml += '</div>';
                Secondhtml += '<div class="col-md-6 text-center">';
                Secondhtml += "<a onclick ='divdown(this)' ><i style=' font-size:30px;color:#138692' class='fas fa-long-arrow-alt-right'></i></a>";
                Secondhtml += '</div>';
                Secondhtml += '</div>';
                Secondhtml += '</li>';
                Secondhtml += '</ul>';
                $("#MyCategory").append(strhtml + Secondhtml);
            }
        }
        function LoadCategoryPopup(id) {
            $('#waiting').show();
            $.ajax({
                type: 'GET',
                url: "/Video/Popupwindow?Id="+id,
                success: function (data) {
                    makedpt("HG_Category");
                    $("#HG_Category > .modal-dialog > .modal-content > .modal-body").html(data);
                    showdpt("HG_Category");
                    $('#waiting').hide();

                },
                error: function (jqXhr, textStatus, errorMessage) { // error callback
                    $("#waiting").hide();
                }
            });
        }
    </script>
