@model HangOut.Models.POS.AddOns
@using HangOut.Models
@{
    Layout = null;
    var CurrentOrg = Request.Cookies["UserInfo"];
}

<div class="card">
    <div class="card-header">
        <h3 style="text-align:center;color:#000000"><b>ADDON</b></h3>
        <hr />
    </div>
    <div class="card-body">
        @using (Ajax.BeginForm("CreateEditAddOn", "HG_Items", new AjaxOptions { HttpMethod = "POST", LoadingElementId = "waiting", OnSuccess = "" }))
        {
            foreach (var Item in Model.AddonnList)
            {
                @Html.Partial("AddOnn", Item)
            }
                <div class="col-sm-1">
                    @Html.Label("Save", new { @class = "text-white " })
                    <input type="submit" value="Save" class="btn btn-success " />
                </div>
        }
    </div>
</div>
<script>
        $("#CostPrice,#Tax").change(
            function(){
                CalculateTax();
            });
        function CalculateTax() {
            var CostPrice = parseFloat($("#CostPrice").val());
            var TaxPercentage = parseFloat($("#Tax").val());
            var taxAmt = (CostPrice * TaxPercentage) / 100;
            $("#Price").val(CostPrice + taxAmt).change();
        }
</script>

