@using HangOut.Models;
@{
    Layout = null;
}

<div class="card">
    <div class="card-header">
        <h3 style="text-align:center;color:#000000"><b>Upload Excel</b></h3>
        <hr />
    </div>
    <div class="card-body">
        @using (Ajax.BeginForm("Upload", "HG_OrganizationDetails", null, new AjaxOptions { HttpMethod = "POST", LoadingElementId = "waiting", OnSuccess = "OnSuccess" }))
        {
            <div class="row">
                <div class="col-md-3">
                    @Html.Label("Organization  ")
                    @Html.DropDownList("OrgID", new SelectList(new HG_OrganizationDetails().GetAll(), "OrgID", "Name", "OrgID"), "Select Organization Name", new { @class = "form-control", required = "required" })
                </div>
                <div class="col-md-5">
                    @Html.Label("Select Excel")
                    <input id="UplXl" name="UplXl" type="file" class="form-control" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                </div>
            </div>
            <div class="col-sm-1">
                @Html.Label("Save", new { @class = "text-white" })
                <input type="submit" value="Save" class="btn btn-success" />

            </div>
        }
    </div>
</div>
<script>

</script>