
@{ 
    Layout = null;
    string OMId = Request.QueryString["OMId"].ToString();
}

<div class="row" style="width:100%">
    @Html.Hidden("OMId", OMId)
    <div class="card-header" style="width:100%">
        <h2 style="text-align:center; background-color:#5de79a"><b>Order Menu</b> </h2>
    </div>
    <div class="col-md-12" style="padding:10px;">
        <input type="text" OMId="0" id="OrderMenuName" placeholder="Enter Menu Name.." required class="form-control" />
    </div>
    <div id="#admin-side-menu2"  class="row" style="width:100%">
        <ul id="myaccordion2" class="list-unstyled mb-0 " style="width:100%">
            <li class="nav-item card mainList" style="padding:15px" OrderNo="1">
                <div class="row" style="width:100%">
                    <div class="col-md-4">
                        <label></label>
                        <input type="text"  class="form-control Category" id="0" CategoryId="0"  value="Category 1">
                    </div>
                    <div onclick="ChangeIcon(this)" class="col-md-2">
                        <label></label>
                        <a style="text-align:center" class="nav-link have-sub-menu collapsed" href="#" data-target="#ID" data-toggle="collapse">
                            <i class="fas fa-plus" style="font-size:x-large"></i>
                        </a>
                    </div>
                    <div class="col-md-2">
                        <label></label>
                        <a onclick="RowDown(this)" style="text-align:center;color:dodgerblue" class="nav-link">
                            <i class="fas fa-arrow-down" style="font-size:x-large"></i>
                        </a>
                    </div>
                    <div class="col-md-2">
                        <label></label>
                        <a onclick="RowUp(this)" style="text-align:center;color:dodgerblue" class="nav-link">
                            <i class="fas fa-arrow-up" style="font-size:x-large"></i>
                        </a>
                    </div>
                    <div class="col-md-1">
                        <label></label>
                        <input type="checkbox" class="form-control CheckStatus" style="border: 2px dotted #00f; display: block; background: #ff0000" />
                    </div>
                </div>
                <ul id="ID" class="collapse list-unstyled " data-parent="#myaccordion">

                    <li class="nav-item" data-parent="#myaccordion" id="0" Itmid="0" OrderNo="1">
                        <div class="row">
                            <div class="col-md-2">
                                <label></label>
                                <a style="text-align:center;color:darkblue" class="nav-link">
                                    Item1
                                </a>
                            </div>
                            <div class="col-md-1">
                                <label></label>
                                <a onclick="RowDown(this)" style="text-align:center;color:darkblue" class="nav-link">
                                    <i class="fas fa-arrow-down" style="font-size:x-large"></i>
                                </a>
                            </div>
                            <div class="col-md-1">
                                <label></label>
                                <a onclick="RowUp(this)" style="text-align:center;color:darkblue" class="nav-link">
                                    <i class="fas fa-arrow-up" style="font-size:x-large"></i>
                                </a>
                            </div>
                            <div class="col-md-1">
                                <label></label>
                                <input type="checkbox" class="form-control ItemStatus" style="border: 2px dotted #00f; display: block; background: #ff0000" />
                            </div>
                        </div>
                    </li>
                  

                </ul>
            </li>
        </ul>

        <button style="text-align:center"  onclick="SaveMenu()" class="btn-success btn-sm form-control" >Submit</button>
    </div>

</div>

<script>
    var MenuOrderCategoryList = [];
    

    $(document).ready(function () {
        var OMId = $("#OMId").val();
        $.ajax({
            type: 'GET',
            url: "/WebApi/ShowOMCategories?OMId="+OMId,
            success: function (data) {
                MenuOrderCategoryList = JSON.parse(data);
                ShowCategoryList(MenuOrderCategoryList);
                
            },
            error: function (jqXhr, textStatus, errorMessage) { // error callback

            }
        });
    });  
    function ShowCategoryList(list) {
        var MenuObj = list[0];
        console.log("AAya");
        $("#OrderMenuName").val(MenuObj.MenuName);
        $("#OrderMenuName").attr('OMId', MenuObj.MenuId);
        $('#myaccordion2').html('');
        for (var i = 0; i < list.length; i++) {
            var OrdNo = i + 1;
            var MainLi = '<li class="nav-item card mainList" style="padding:15px" OrderNo="' + OrdNo +'"><div class="row" style="width:100%" >';
            var CategoryDiv = '<div class="col-md-4"><label></label><input type="text" class="form-control Category"  id="' + list[i].id+'" CategoryId="'+list[i].CategoryID+'" value="' + list[i].Category+'"></div>';
            var CatePlusIcn = '<div onclick="ChangeIcon(this)" class="col-md-2"><label></label><a style="text-align:center" class="nav-link have-sub-menu collapsed" href="#" data-target="#C'+list[i].CategoryID+'" data-toggle="collapse"><i class="fas fa-plus" style="font-size:x-large"></i></a></div >';
            var CatDownIcon = '<div class="col-md-2"><label></label><a onclick="RowDown(this)" style="text-align:center;color:dodgerblue" class="nav-link"><i class="fas fa-arrow-down" style="font-size:x-large"></i></a></div>';
            var CatUpIcon = '<div class="col-md-2"><label></label><a onclick="RowUp(this)" style="text-align:center;color:dodgerblue" class="nav-link"><i class="fas fa-arrow-up" style="font-size:x-large"></i></a></div >';
           var CatCheckStatus = '<div class="col-md-1"><label></label><input type="checkbox" class="form-control CheckStatus" style="border: 2px dotted #00f; display: block; background: #ff0000" /></div></div>';
            if (list[i].CheckSts == true) {
             CatCheckStatus = '<div class="col-md-1"><label></label><input type="checkbox" checked class="form-control CheckStatus" style="border: 2px dotted #00f; display: block; background: #ff0000" /></div></div>';
            } 
            var ItemList = list[i].ItemList;
            var ItemUl = '<ul id="C'+list[i].CategoryID+'" class="collapse list-unstyled " data-parent="#myaccordion">';
            for (var j = 0; j < ItemList.length; j++) {
                var OrdN = j + 1;
                var ItemLi = '<li class="nav-item" data-parent="#myaccordion" id="' + ItemList[j].id+'" Itmid="' + ItemList[j].ItemID+'" OrderNo="' +OrdN+'"><div class="row">';
                var DisaplyItm = '<div class="col-md-2"><label></label><a style="text-align:center;color:darkblue" class="nav-link">' + ItemList[j].Items+'</a></div >';
                var ItemRowDown = '<div class="col-md-1"><label></label><a onclick="RowDown(this)" style="text-align:center;color:darkblue" class="nav-link"><i class="fas fa-arrow-down" style="font-size:x-large"></i></a></div>';
                var ItemRowUp = '<div class="col-md-1"><label></label><a onclick="RowUp(this)" style="text-align:center;color:darkblue" class="nav-link"><i class="fas fa-arrow-up" style="font-size:x-large"></i></a></div >';
                var ItemCheck = '<div class="col-md-1"><label></label><input type="checkbox" class="form-control ItemStatus" style="border: 2px dotted #00f; display: block; background: #ff0000"/></div ></div></li >';
                if (ItemList[j].CheckSts == true) {
                  ItemCheck = '<div class="col-md-1"><label></label><input type="checkbox" checked class="form-control ItemStatus" style="border: 2px dotted #00f; display: block; background: #ff0000"/></div ></div></li >';
                }
                ItemUl += ItemLi + DisaplyItm + ItemRowDown + ItemRowUp + ItemCheck;
            }
            var CloseItemLi = '</ul></li>';
            var mainlist = MainLi + CategoryDiv + CatePlusIcn + CatDownIcon + CatUpIcon + CatCheckStatus + ItemUl + CloseItemLi;
            $('#myaccordion2').append(mainlist);
       }

        $('#waiting').hide();
       // SaveMenu();
    }
    function SaveMenu() {
        
        var OMName = $("#OrderMenuName").val().replace(' ', '');
        if (OMName == null || OMName == "") {
            $.alert({
                title: 'Alert!',
                content: 'Menu Name Requiered',
            });
            return;
        }
        $('#waiting').show();
        var OrderMenuJson = {};
        OMName = $("#OrderMenuName").val();
        //========
        var OrderMenuObj = {};
        OrderMenuObj.id = $("#OrderMenuName").attr('OMId');
        OrderMenuObj.MenuName = OMName;
        OrderMenuJson.OrderMenu = OrderMenuObj;
        //==========
        var ListCategry = [];
        var lis = document.getElementById("myaccordion2").getElementsByClassName("mainList");
        for (var i = 0; i < lis.length;i++) {
            var li = $(lis[i]);
            var CatOrderNo = li.attr('OrderNo');
            var MenuCId = li.find('.Category').attr('id');
            var CategoryId=li.find('.Category').attr('CategoryId');
            var Categoryname = li.find('.Category').val();
            var CheckStatus = li.find('.CheckStatus').is(':checked');
            console.log("Loop catOrderNo" + CatOrderNo + " MenuCId" + MenuCId + " name" + Categoryname + "CheckStatus"+CheckStatus);
            var ListItems = [];
            //===========
            var ChileLI = lis[i].getElementsByTagName('li');
            for (var j = 0; j<ChileLI.length; j++) {

                var childLis = $(ChileLI[j]);
                var OrdNo = childLis.attr("OrderNo");
                var ItemStatus = childLis.find('.ItemStatus').is(':checked');
                var Id = childLis.attr('id');
                var Itmid = childLis.attr('Itmid');
                console.log("child OrdNo  " + OrdNo);
                var ObjItemMenu = {};
                ObjItemMenu.id = Id;
                ObjItemMenu.ItemId = Itmid;
                ObjItemMenu.OrderNo = OrdNo;
                ObjItemMenu.OrdMenuCatId = MenuCId;
                ObjItemMenu.OderMenuId = OrderMenuObj.id;
                ObjItemMenu.Status = ItemStatus;
                ListItems.push(ObjItemMenu);
            }
            var ObjCateMnu = {};
            ObjCateMnu.id = MenuCId;
            ObjCateMnu.CategoryId = CategoryId;
            ObjCateMnu.DisplayName = Categoryname;
            ObjCateMnu.OrderNo = CatOrderNo;
            ObjCateMnu.Status = CheckStatus;
            ObjCateMnu.OrdCatItems = ListItems;
            ListCategry.push(ObjCateMnu);

        }
        OrderMenuObj.OderMenuCategry = ListCategry;
        $.ajax({
            type: 'POST',
            url: "/WebApi/SaveOrderMenu",
            data: JSON.stringify(OrderMenuObj),
            contentType: "application/json",
            success: function (data) {
                var OMId = parseInt(data);
                if (parseInt(OrderMenuObj.id) ==0) {
                    $("#Menus").append('<block ondblclick="AddOrderMenu(' + OMId + ')" id=' + OMId + '>' + OMName + '</block>');
                }
                hidedpt("AddOrderMenu");
                $('#waiting').hide();
            },
            error: function (jqXhr, textStatus, errorMessage) { // error callback
                $('#waiting').hide();
            }
        });

    }
    
</script>
