
@{ 
    Layout = null;
    string OMId = Request.QueryString["OMId"].ToString();
}

<div class="row" style="width:100%">
    @Html.Hidden("OMId", OMId)
    <div class="card-header" style="width:100%">
        <h2 style="text-align:center; background-color:#5de79a"><b>Order Menu</b> </h2>
    </div>
    <div class="col-md-12" style="padding:10px;">
        <input type="text" OMId="0" id="OrderMenuName" placeholder="Enter Menu Name.." required class="form-control" />
    </div>
    <div id="#admin-side-menu2"  class="row" style="width:100%">
        <ul id="myaccordion2" class="list-unstyled mb-0 " style="width:100%">
            <li class="nav-item card" style="padding:15px" OrderNo="1">
                <div class="row" style="width:100%">
                    <div class="col-md-4">
                        <label></label>
                        <input type="text" class="form-control" min="0" name="FirstName" value="Category 1">
                    </div>
                    <div onclick="ChangeIcon(this)" class="col-md-2">
                        <label></label>
                        <a style="text-align:center" class="nav-link have-sub-menu collapsed" href="#" data-target="#ID" data-toggle="collapse">
                            <i class="fas fa-plus" style="font-size:x-large"></i>
                        </a>
                    </div>
                    <div class="col-md-2">
                        <label></label>
                        <a onclick="RowDown(this)" style="text-align:center;color:dodgerblue" class="nav-link">
                            <i class="fas fa-arrow-down" style="font-size:x-large"></i>
                        </a>
                    </div>
                    <div class="col-md-2">
                        <label></label>
                        <a onclick="RowUp(this)" style="text-align:center;color:dodgerblue" class="nav-link">
                            <i class="fas fa-arrow-up" style="font-size:x-large"></i>
                        </a>
                    </div>
                    <div class="col-md-1">
                        <label></label>
                        <input type="checkbox" class="form-control" style="border: 2px dotted #00f; display: block; background: #ff0000" />
                    </div>
                </div>
                <ul id="ID" class="collapse list-unstyled " data-parent="#myaccordion">

                    <li class="nav-item" data-parent="#myaccordion" OrderNo="1">
                        <div class="row">
                            <div class="col-md-2">
                                <label></label>
                                <a style="text-align:center;color:darkblue" class="nav-link">
                                    Item1
                                </a>
                            </div>
                            <div class="col-md-1">
                                <label></label>
                                <a onclick="RowDown(this)" style="text-align:center;color:darkblue" class="nav-link">
                                    <i class="fas fa-arrow-down" style="font-size:x-large"></i>
                                </a>
                            </div>
                            <div class="col-md-1">
                                <label></label>
                                <a onclick="RowUp(this)" style="text-align:center;color:darkblue" class="nav-link">
                                    <i class="fas fa-arrow-up" style="font-size:x-large"></i>
                                </a>
                            </div>
                            <div class="col-md-1">
                                <label></label>
                                <input type="checkbox" class="form-control" style="border: 2px dotted #00f; display: block; background: #ff0000" />
                            </div>
                        </div>
                    </li>
                  

                </ul>
            </li>
        </ul>
    </div>

</div>

<script>
    var MenuOrderCategoryList = [];
    

    $(document).ready(function () {
        var OMId = $("#OMId").val();
        $.ajax({
            type: 'GET',
            url: "/WebApi/ShowOMCategories?OMId="+OMId,
            success: function (data) {
                MenuOrderCategoryList = JSON.parse(data);
                ShowCategoryList(MenuOrderCategoryList);
                
            },
            error: function (jqXhr, textStatus, errorMessage) { // error callback

            }
        });

        
       // $('.nav-list_item').click(function () {
            
       // });
    });  
    function ShowCategoryList(list) {
        $('#myaccordion2').html('');
        for (var i = 0; i < list.length; i++) {
            var OrdNo = i + 1;
            var MainLi = '<li class="nav-item card" style="padding:15px" OrderNo="' + OrdNo +'"><div class="row" style="width:100%" >';
            var CategoryDiv = '<div class="col-md-4"><label></label><input type="text" class="form-control"  id="' + list[i].CategoryID+'" value="' + list[i].Category+'"></div>';
            var CatePlusIcn = '<div onclick="ChangeIcon(this)" class="col-md-2"><label></label><a style="text-align:center" class="nav-link have-sub-menu collapsed" href="#" data-target="#C'+list[i].CategoryID+'" data-toggle="collapse"><i class="fas fa-plus" style="font-size:x-large"></i></a></div >';
            var CatDownIcon = '<div class="col-md-2"><label></label><a onclick="RowDown(this)" style="text-align:center;color:dodgerblue" class="nav-link"><i class="fas fa-arrow-down" style="font-size:x-large"></i></a></div>';
            var CatUpIcon = '<div class="col-md-2"><label></label><a onclick="RowUp(this)" style="text-align:center;color:dodgerblue" class="nav-link"><i class="fas fa-arrow-up" style="font-size:x-large"></i></a></div >';
            var CatCheckStatus = '<div class="col-md-1"><label></label><input type="checkbox" class="form-control" style="border: 2px dotted #00f; display: block; background: #ff0000" /></div></div>';
            var ItemList = list[i].ItemList;
            var ItemUl = '<ul id="C'+list[i].CategoryID+'" class="collapse list-unstyled " data-parent="#myaccordion">';
            for (var j = 0; j < ItemList.length; j++) {
                var OrdN = j + 1;
                var ItemLi = '<li class="nav-item" data-parent="#myaccordion" OrderNo="' +OrdN+'"><div class="row">';
                var DisaplyItm = '<div class="col-md-2"><label></label><a style="text-align:center;color:darkblue" class="nav-link">' + ItemList[j].Items+'</a></div >';
                var ItemRowDown = '<div class="col-md-1"><label></label><a onclick="RowDown(this)" style="text-align:center;color:darkblue" class="nav-link"><i class="fas fa-arrow-down" style="font-size:x-large"></i></a></div>';
                var ItemRowUp = '<div class="col-md-1"><label></label><a onclick="RowUp(this)" style="text-align:center;color:darkblue" class="nav-link"><i class="fas fa-arrow-up" style="font-size:x-large"></i></a></div >';
                var ItemCheck = '<div class="col-md-1"><label></label><input type="checkbox" class="form-control" style="border: 2px dotted #00f; display: block; background: #ff0000"/></div ></div></li >';
                ItemUl += ItemLi + DisaplyItm + ItemRowDown + ItemRowUp + ItemCheck;
            }
            var CloseItemLi = '</ul></li>';
            var mainlist = MainLi + CategoryDiv + CatePlusIcn + CatDownIcon + CatUpIcon + CatCheckStatus + ItemUl + CloseItemLi;
            $('#myaccordion2').append(mainlist);
       }

    }
    function SaveMenu() {
        var OrderMenuJson = {};
        //========
        var OrderMenuObj = {};
        OrderMenuObj.id = $("#OrderMenuName").attr('OMId');
        OrderMenuObj.MenuName = $("#OrderMenuName").val().replace(' ', '');
        OrderMenuJson.OrderMenu = OrderMenuObj;
        //==========
        var lis = document.getElementById("myaccordion2").getElementsByTagName("li");
        for (var i = items.length; i--;) {
           
        }

    }

</script>
