
@{
    Layout = null;
}
    <style>
        .SelectedMenu {
            background-color: #a9bf1a;
        }

        .YellowTable {
            background-color: #a9bf1a;
        }
        .RedTable {
            background-color: #f00;
        }
        div.scrollmenu {
            background-color: #333;
            overflow-x: auto;
            white-space: nowrap;
        }

            div.scrollmenu block {
                display: inline-block;
                color: white;
                text-align: center;
                padding: 20px;
                border-left: solid 1px #5de79a;
                text-decoration: none;
            }

        div.scrollTables {
            background-color: white;
            overflow: auto;
            white-space: nowrap;
        }

            div.scrollTables blockTable {
                display: inline-block;
                text-align: center;
                width: 35%;
                height: 250px;
                overflow-y: auto;
                border-right: solid 2px #f00;
                text-decoration: none;
            }

        div.scrollmenu a:hover {
            background-color: #777;
        }

        block.selected {
            color: green;
        }
    </style>
@Html.Hidden("CBID",Request.QueryString["CBID"])
    <div class="card-header " style="width:100%">
        <h3 style="text-align:center; background-color:#5de79a"><b>Seating</b> </h3>
        <hr />
    </div>
<div class=" scrollTables" id="Floor" style="margin-top:50px;">

</div>
<div class="row">
    <div class="col-md-5">

    </div>
    <div class="col-md-2">
        <button class="btn btn-danger form-control " onclick="Apply()">Apply</button>
    </div>
    <div class="col-md-5">

    </div>
</div>
<script>
        var TblShetList = [];
    var FlrScrList = [];
    var ExistingSeatings = [];
    function LoadOrderMenus() {
        var CBID = $("#CBID").val();
        $("#waiting").show();
            $.ajax({
                type: 'POST',
                url: "/OrderMenu/SeatingList?CBID="+CBID+"&OrgId=0",
                success: function (data) {
                    $("#waiting").hide();
                    var OrderMenuList = JSON.parse(data);
                    ShowOrderMenus(OrderMenuList);

                    // }
                },
                error: function (jqXhr, textStatus, errorMessage) { // error callback
                    $("#waiting").hide();
                }
            });


        }
        function ShowOrderMenus(list) {
            $("#Floor").html('');
            FlrScrList = list.FloorList;
            ExistingSeatings = list.ExistingSeatings;
            for (var i = 0; i < FlrScrList.length; i++) {
                var FloorHtml = '<blockTable><div class="row" ><div class="col-md-6">';
                FloorHtml += '<h4 style="text-align:right">' + FlrScrList[i].Name + '</h4> </div><div class="col-md-6">';
                var TablesOrSheat = ' <div class="row">';
                var TableSHaetList = FlrScrList[i].TableSheatList;
                var TotalSelectedTble = 0;
                for (var j = 0; j < TableSHaetList.length; j++) {
                    TblShetList.push(TableSHaetList[j]);
                    var Tablecls = "";
                    if (ExistingSeatings.length > 0) {

                       
                 });
                    }
                    //if (TableSHaetList[j].OMID == SelectedMenu) {
                    //    // Tablecls = "YellowTable";
                    //    TotalSelectedTble += 1;
                    //}
                    TablesOrSheat += '<div class="col-md-3 card ' + Tablecls + '"  onclick="ActiveTable(this)" TSID="' + TableSHaetList[j].Table_or_RowID + '" id="TS' + TableSHaetList[j].Table_or_RowID + '" childs="' + FlrScrList[i].Floor_or_ScreenID + '" ><p>' + TableSHaetList[j].Table_or_SheetName + '</p></div>';
                }

                TablesOrSheat += '<div class="col-md-3 " onclick="AddTorS(this)" id="Add' + FlrScrList[i].Floor_or_ScreenID + '"><p><i class="fa fa-plus" aria-hidden="true"></i></p></div>';
                TablesOrSheat += "</div>";
                var CheckBoxCls = "";
                if (TableSHaetList.length > 0 && (TableSHaetList.length == TotalSelectedTble)) {
                    // CheckBoxCls = "checked";
                }
                FloorHtml += '<input type="checkbox" ' + CheckBoxCls + ' class=" form-control Checkbox" onclick="ActiveScrn(this)" FSID="' + FlrScrList[i].Floor_or_ScreenID + '" id="FS' + FlrScrList[i].Floor_or_ScreenID + '" style="border: 2px dotted #00f; display: block; background: #ff0000" /></div></div>';
                FloorHtml += TablesOrSheat;
                FloorHtml += '</blockTable>';
                $("#Floor").append(FloorHtml);

            }
            var AddNew = '<blockTable><div class="row"><div class="col-md-12"> <i class="fa fa-plus" aria-hidden="true"></i></div></div></blockTable>';
            $("#Floor").append(AddNew);
        }
        
        
        function ActiveScrn(event) {
            var Idname = $(event).attr('FSID');
            var ListTables = document.querySelectorAll("[childs='" + Idname + "']");
            if ($(event).is(':checked')) {
                for (var i = 0; i < ListTables.length; i++) {
                    var table = $(ListTables[i]);
                    table.addClass('YellowTable');
                }

            }
            else {
                for (var i = 0; i < ListTables.length; i++) {
                    var table = $(ListTables[i]);
                    table.removeClass('YellowTable');

                }
            }
        }
        function ActiveTable(event) {

            if ($(event).hasClass('YellowTable')) {
                $(event).removeClass('YellowTable');
            }
            else {
                $(event).addClass('YellowTable');
            }
        }
        function Apply() {
           
            $("#waiting").show();
            var Jobj = {};
            var CBID =parseInt( $("#CBID").val());
            Jobj.CashBkId = CBID;
            var SeatingsDom = document.getElementsByClassName('YellowTable');
            var Seatings = [];
            for (var i = 0; i < SeatingsDom.length; i++) {
                var JqDom = $(SeatingsDom[i]);
                console.log("aatya");
                Seatings.push(parseInt(JqDom.attr('TSID')));
            }
            Jobj.Seatings = Seatings;
            $.ajax({
                type: 'POST',
                url: "/OrderMenu/SaveCashBkSeating",
                data: JSON.stringify(Jobj),
                contentType: "application/json",
                success: function (data) {
                  
                     $("#waiting").hide();
                        $.alert({
                            title: 'Alert',
                            content: 'Active',
                        });
                    //}
                   
                    hidedpt("OpenSeating");
                },
                error: function (jqXhr, textStatus, errorMessage) { // error callback
                    $('#waiting').hide();
                }
            });
            $('#waiting').hide();
        }

        setTimeout(function () { LoadOrderMenus(); }, 100);

</script>