@{
    Layout = null;
}
<style>
    div.scrollmenu {
        background-color: #333;
        overflow: auto;
        white-space: nowrap;
    }

        div.scrollmenu block {
            display: inline-block;
            color: white;
            text-align: center;
            padding: 20px;
            border-left: solid 1px #5de79a;
            text-decoration: none;
        }

            div.scrollmenu a:hover {
                background-color: #777;
            }

</style>

<div class="row" style="width:100%">
    <div class="card-header" style="width:100%">
        <h3 style="text-align:center; background-color:#5de79a"><b>Order Menu</b> </h3>
        <hr />
    </div>
    <div class="scrollmenu" id="Menus">
        <block id="AddNew" >Add New</block>
    </div>

</div>

<script>
    var OrderMenuList = [];
    LoadOrderMenus();
    function LoadOrderMenus() {
        $.ajax({
            type: 'POST',
            url: "/WebApi/OrderMenuList?OrgId=0",
            success: function (data) {
                OrderMenuList = JSON.parse(data);
                if (OrderMenuList.length>0) {
                    ShowOrderMenus(OrderMenuList);
                }
            },
            error: function (jqXhr, textStatus, errorMessage) { // error callback
                $("#waiting").hide();
            }
        });


    }
    function ShowOrderMenus(list) {
        $("#Menus").html('');
        $("#Menus").append('<block id="AddNew" onclick="AddOrderMenu(0)">Add New</block>');
        for (var i = 0; i < list.length; i++) {
            $("#Menus").append('<block onclick="AddOrderMenu(' + list[i].id+')" id=' + list[i].id + '>' + list[i].MenuName+'</block>');
        }

    }
    
    function AddOrderMenu(OMID) {
        $('#waiting').show();
        $.ajax({
            type: 'GET',
            url: "/OrderMenu/AddMenu?OMId=" + OMID,
            success: function (data) {
                makedpt("AddOrderMenu");
                $("#AddOrderMenu > .modal-dialog > .modal-content > .modal-body").html(data);
                showdpt("AddOrderMenu");
               
            },
            error: function (jqXhr, textStatus, errorMessage) { // error callback
               
            }
        });
    }
    $('body').on('click', '.nav-list_item', function () {
        $(this).find('ul').toggle();
        $(this).siblings('li').find('ul').hide();
    });
    function ChangeIcon(event) {
        console.log("aaya");
        if ($(event).find('a').find('i').hasClass('fa-plus')) {
            $(event).find('a').find('i').removeClass('fa-plus');
            $(event).find('a').find('i').addClass('fa-minus');
        }
        else {
            $(event).find('a').find('i').removeClass('fa-minus');
            $(event).find('a').find('i').addClass('fa-plus');
        }
    }

    function RowUp(event) {
       // var li = $(this).closest('li');
        var li = $(event).parent('div').parent('div').parent('li');
        var prev = li.prev();
        if (prev.length) {

            var OrderNoCur = parseInt(li.attr('OrderNo'));
            var OrderNoPre = parseInt(prev.attr('OrderNo'));
            console.log(OrderNoCur);
            li.attr('OrderNo', OrderNoCur - 1);
            prev.attr('OrderNo', OrderNoPre + 1);
            li.detach().insertBefore(prev);
        }
    }
    function RowDown(event) {
        var li = $(event).parent('div').parent('div').parent('li');
       // var li = $(this).closest('li');
        var next = li.next();
        if (next.length) {
            var OrderNoCurr = parseInt(li.attr('OrderNo'));
            var OrderNoNxt = parseInt(next.attr('OrderNo'));
            console.log(OrderNoCurr);
            li.attr('OrderNo', OrderNoCurr + 1);
            next.attr('OrderNo', OrderNoNxt - 1);
            li.detach().insertAfter(next);
        }
    }
</script>

