@using HangOut.Models.Common;
@using HangOut.Models;
@{ 
    var UserType = Request.Cookies["UserInfo"]["UserType"];
    string OrgName = "SUPER-ADMIN";
    int Orgid =int.Parse(Request.Cookies["UserInfo"]["OrgId"]);
    string OrgType = "0";
    HG_OrganizationDetails ObgOrg = new HG_OrganizationDetails().GetOne(Orgid);
    string CustomerOrdrn = "";
    if (ObgOrg.OrgID > 0)
    {
        OrgName = ObgOrg.Name;
        OrgType = ObgOrg.OrgTypes;
    }
    if (ObgOrg.CustomerOrdering)
    {
        CustomerOrdrn = "checked";
    }
    if (Orgid == 0)
    {
        OrgName = "PREPAID-SUPER-ADMIN";
    }
    if (Orgid < 0)
    {
        OrgName = "POSTPAID-SUPER-ADMIN";
    }
}
<style>
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 28px;
    }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #000000;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 20px;
            width: 20px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color:  #44cd4a;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 20px;
    }

        .slider.round:before {
            border-radius: 50%;
        }
</style>
<!-- header -->
@Html.Hidden("OrgIdHead", Orgid)
<header class="navbar navbar-expand-sm text-white w-100 p-0" style="background-color:#ffffff">
    <div class="col-md-1   text-center" style="border-right:2px solid #e6ebef">
        <img src="~/Image/logoAdminMobile.png" style="height:80px;"  />
        @*<a class="text-white navbar-brand pl-3" style="font-size:15px;">foodDo</a>
        <a href="#" id="toggle-admin-menu" class="text-white ml-md-4"><i class="fa fa-bars border border-secondary rounded" style="font-size:17px;padding:4px 6px;"></i></a>
        <a href="#" onclick="showvideo();" class="text-white ml-md-4"><i class="fas fa-chalkboard-teacher border border-secondary rounded" style="font-size:17px;padding:4px 6px;"></i></a>*@
    </div>
    <div class="col-md-9   text-center mt-0" style="overflow:hidden">
        <h3 class=" text-center navbar-brand pl-3 GreenTxt" style="font-size:32px;font-weight:bold;">@OrgName</h3>
    </div>
    <div class="col-md-2    text-center p-md-2 p-2  ">
        <label class="switch" data-toggle="tooltip" title="Allow Customer Ordering">
            <input type="checkbox" @CustomerOrdrn onchange="SetCustmrOrd(this)">
            <span class="slider round"></span>
        </label>
        @if (UserType == "SA")
        {
            @*<a class="btn btn-lg  " href="/vw_HG_UsersDetails/Inventry"><i class="fas fa-truck-moving"></i></a>
            <a class="btn btn-lg  " href="/vw_HG_UsersDetails/Account"><i class="fas fa-rupee-sign"></i></a>*@

        }
        <button class="btn btn-lg  " onclick="GetPos()"><i class="fas fa-laptop"></i></button>
        <button class="btn btn-lg " onclick="CashBack();"><i class="fas fa-chart-line"></i></button>
        <div class="btn-group mt-0">
            <button  data-toggle="dropdown" style="background-color:#ffffff;box-shadow:none;border:none;" aria-haspopup="true" aria-expanded="false"><i class="fa fa-sign-out-alt border border-secondary rounded" style="font-size:17px;padding:4px 6px;"></i></button>
            <div class="dropdown-menu dropdown-menu-right  pb-0">
                <h6 class="mt-2 mb-2">@Request.Cookies["UserInfo"]["UserName"]</h6>
                <button id="logoutbtn" onclick="LogOut()" class="btn btn-sm btn-block btn-dark mt-1 nav-item"><i class="fa fa-lock"> Sign Out</i> </button>
                <style>
                    #logoutbtn > i:hover {
                        border: none !important;
                        background: none !important;
                    }
                </style>
            </div>
        </div>

    </div>
</header>

<div class="row" id="PanelMaster">

    
</div>
<script>
    
    GetPos();
    function SetCustmrOrd(event) {
      //  var Status = $(event).val();
        var OrdSts = false;
        if (event.checked) {
            OrdSts = true;
            $(event).prop('checked', true);
        }
        else {
            $(event).prop('checked', false);
        }
        $.ajax({
            url: "/HG_OrganizationDetails/SetOrderStatus?OrderStatus=" + OrdSts,
            type: "GET",
            success: function (data) {
                // alert("AAYA");
               // window.location = "/vw_HG_UsersDetails/vw_HG_UsersDetails";
            },
            error: function (Xr, Status, ErrorMsg) {

            }
        });

    }
    function AcnHeading() {
        $("#waiting").show();
        $.ajax({
            url: "/Account/AcntHeading",
            type: "GET",
            success: function (data) {
                $("#DynamicData").html(data);
                $("#waiting").hide();
            },
            error: function (Xr, Status, ErrorMsg) {
                $("#waiting").hide();
            }
        });
    }
    function MakeOrder() {
        ///HG_OrderItem/MakeOrder
        $("#waiting").show();
        $.ajax({
            url: "/Pos/SeatView",
            type: "GET",
            success: function (data) {
                $("#DynamicData").html(data);
                $("#waiting").hide();
            },
            error: function (Xr, Status, ErrorMsg) {
                $("#waiting").hide();
            }
        });
    }
    function CashBack() {
        $("#waiting").show();
        $.ajax({
            url: "/vw_HG_UsersDetails/CashBack",
            type: "GET",
            success: function (data) {
                $("#PanelMaster").html(data);
                $("#waiting").hide();
            },
            error: function (Xr, Status, ErrorMsg) {
                $("#waiting").hide();
            }
        });
    }
    function GetPos() {
        $.ajax({
            url: "/vw_HG_UsersDetails/Pos",
            type: "GET",
            success: function (data) {
                $("#PanelMaster").html(data);
                
            },
            error: function (Xr, Status, ErrorMsg) {
                $("#waiting").hide();
            }
        });
    }
    $("#offItemHome").change(function () {
        var val1 =parseInt($("#offItemHome").text());
        $("#TotalCntHome").text(val1);
    });
    function showvideo() {
        $("#waiting").show();
        $.ajax({
            url: "/Video/viewstatuspopupwindow",
            type: "GET",
            success: function (data) {
                $("#DynamicData").html(data);
                $("#waiting").hide();
            },
            error: function (Xr, Status, ErrorMsg) {
                $("#waiting").hide();
            }
        });
    }
    function LogOut() {
        $.ajax({
                url: "/vw_HG_UsersDetails/LogOut",
                type: "GET",
                success: function (data) {
                   // alert("AAYA");
                    window.location = "/vw_HG_UsersDetails/vw_HG_UsersDetails";
                },
                error: function (Xr, Status, ErrorMsg) {
                  
                }
            });
    }
</script>
<script src="~/Assets/PushNotication.js"></script>
<script src="~/Assets/OrderNotify.js"></script>


