
@{
    Layout = null;
}

<div id="admin-side-menu" class="col-md-2 col-12  ml-sm-auto m-0 p-0 " style="background-image: linear-gradient(to right top, #5de79a, #5de79a, #5de79a, #5de79a, #5de79a);">
    <ul id="myaccordion" class="list-unstyled mb-0 ">
        
        <li class="nav-item" data-parent="#myaccordion">
            <a class="nav-link" href="/HG_OrganizationDetails/index" data-ajax="true" data-ajax-update="#DynamicData" data-ajax-mode="replace" data-ajax-loading="#waiting"><i class="fas fa-school"></i>Campaign</a>
        </li>
    </ul>
</div>
<!-- End admin side menus -->
@*mt-0 p-0*@
<div class="col-md-10 col-12 " id="DynamicData">

</div>
