@using HangOut.Models.DynamicList;
@using HangOut.Models;
@{
    Layout = null;
    var UserType = Request.Cookies["UserInfo"]["UserType"];
    double MyWallet = 0.00;
    int OrgID = OrderType.CurrOrgId();
    if (OrgID > 0)
    {
        HG_OrganizationDetails ObjOrg = new HG_OrganizationDetails().GetOne(OrgID);
        MyWallet = ObjOrg.WalletAmt;
    }

}

    <div id="admin-side-menu" class="col-md-1    m-0 p-0 " style="background-color:#ffffff;border-right:2px solid #e6ebef">

        @if (UserType != null && UserType == "SA")
        {
            <div class="col-md-12 MouseOverMe dropdown">
                <a class="nav-link text-center" href="/Settings/Index" data-ajax="true" data-ajax-update="#DynamicData" data-ajax-mode="replace" data-ajax-loading="#waiting"><i class="fas fa-user-o AnchorIcon"></i></a>
                <h4 class="text-center">Setting </h4>
            </div>
        }
        <div class="col-md-12 MouseOverMe dropdown">
            <div class="dropdown-content">
                <a class="nav-link" href="/CashBack/index" data-ajax="true" data-ajax-update="#DynamicData" data-ajax-mode="replace" data-ajax-loading="#waiting"><i class="fas fa-book"></i>CashBack</a>
                <a class="nav-link" href="/ComplemetryOffer/index" data-ajax="true" data-ajax-update="#DynamicData" data-ajax-mode="replace" data-ajax-loading="#waiting"><i class="fas fa-book"></i>Complementry Offer</a>
                <a class="nav-link" href="/ComplemetryOffer/OfferIndex" data-ajax="true" data-ajax-update="#DynamicData" data-ajax-mode="replace" data-ajax-loading="#waiting"><i class="fas fa-book"></i>Offers</a>
            </div>
            <a class="nav-link text-center" href="#"><i class="fas fa-user AnchorIcon"></i></a>
            <h4 class="text-center">My Customer </h4>
        </div>
        <div style="padding:2px;z-index:100; position:fixed;left:0px;bottom:0px;color:black;font-weight:bold;margin-left:5px;"><i class="fas fa-credit-card"></i>&nbsp;CREDITS @MyWallet.ToString("0.00")</div>
    </div>
<!-- End admin side menus -->

<div class="col-md-11" id="DynamicData">

</div>
