<div class="card">
    <div class="card-header">
        <h1 style="text-align:center"><b>User Status</b> </h1>
        <hr />
    </div>
    <div class="card-body">
        <table class="table table-bordered table-hover text-center w-100" id="TBLID">
            <thead>
                <tr>
                    <th>@Html.Label("Name") </th>
                    <th>@Html.Label(" Status") </th>
                    <th>@Html.Label("Last Access") </th>
                     
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    
                </tr>
            </tbody>
        </table>
    </div>
</div>